<div class="card">
    <div class="card-image">
        <img src="image/pulse.jpg" loading="lazy"/>
    </div> 
    <div class="card-promotion">
        <span>Promocao</span>
    </div>
    <div class="card-title">
        <h2>FIAT - Pulse</h2>
    </div>
    <div class="card-information">
        <div class="information-text">
            <span class="information-title">
                Ano
            </span>
            <span class="information-description">
                2018
            </span>
        </div>
        <div class="information-text">
            <span class="information-title">
                Combustivel
            </span>
            <span class="information-description">
                Flex
            </span>
        </div>
        <div class="information-text">
            <span class="information-title">
                Motor
            </span>
            <span class="information-description">
                1.8
            </span>
        </div>
        <div class="information-text">
            <span class="information-title">
                KM
            </span>
            <span class="information-description">
                37.711
            </span>
        </div>
    </div>

    <div class="container-buttons">
        <button class="button-action">Tenho interesse</button>
        <button class="button-action">Ver mais</button>
    </div>
</div>