.card{
    max-width: 250px;
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 8px;
   box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.card .card-image{
    width: 100%;
     height: 145px;
}

.card .card-image img{
    width: 100%;
    border-radius: 8px;
}

.button-action{
    width: 100%;
    height: 35px;
    margin: 12px 0px;
    border: none;
    border-radius: 6px;
    color: var(--color-primary);
    font-weight: bold;
    transition: all ease-in-out 0.6s;
}

.card-promotion{
    width: 80%;
    margin: 20px 0px 5px 0px;
}
.card-promotion span{
    background-color: var(--color-button-secundary);
    border-radius: 18px;
    font-size: 0.8em;
    color: var(--color-primary);
    width: 100px;
    text-align: center;
    padding: 1px 21px;
}

.card-title{
    width: 80%;
    margin: 0px;
    padding: 0px;
    font-size: 0.8em;
}

.card-information{
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.information-text{
    width:48%;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    font-family: var(--font-secundary);
}

.information-text .information-title{
    font-weight: bold;
}

.button-action:hover{
    background-color: var(--color-primary);
    border-radius: 18px;
    border: 1px solid;
    border-color: var(--color-button-primary);
    color: var(--color-button-primary);
}