main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid red;

}

.form-section{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

}

.hero-form{
    border: 1px solid blue;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: beige;
}